
  .crop-list {
    display: flex;
    flex-wrap: wrap;
  }

  .crop-container {

    /* background-color: #200000; */
    background-color: whitesmoke;
    width: 33.33%;
    box-sizing: border-box;
    padding:15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  

  .crop-card {
    background-image: url('https://i.pinimg.com/originals/71/59/74/7159745dd98afea51b604f2f8c443ab7.jpg');
    /* background-color: rgba(213, 178, 242, 0.323); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
      border: 1px solidrgb(#cda400);
      margin: 10px;
      padding: 10px;
      text-align: center;
      cursor: pointer;
      border-radius: 10px;
      /* box-shadow: 0 4px 8px #fcdf0329; */
      box-shadow: 0 4px 8px #66666629;

      transition: transform 0.3s ease-in-out;
      border-width: 5px solidrgb(#cda400);

     
    
      box-sizing: border-box;
  width:470px;
  height: 400px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
     
    }
    
    .crop-image {
      width: 97%;
      height: 230px; 
      border-radius: 5px 5px 5px 5px;
      object-fit: cover;
    }
    
    .crop-details {
      
      display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100%;
    }
    
    .crop-name {
      padding:10px;
      font-size: 1.5em;
      color: #f4bf00;
      margin-bottom: 10px;
      

    h3 {
      font-size: 1.5em;
      color: #333;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 1.2em;
      color: #666;
    }
  }
  
  
  .crop-card:hover {
    /* box-shadow: 0px 0px 20px rgb(255, 222, 7);  */
    box-shadow: 0px 0px 20px rgb(30, 30, 30); 

    transform: scale(1.05);
    

  } 
hr{
  color: #f4bf00;
  background-color: #340101;
}


