/* .crop-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  } */
  .crop-list {
    display: flex;
    flex-wrap: wrap;
  }

  .crop-container {
    width: 33.33%; /* Set to 33.33% for three columns */
    box-sizing: border-box;
    padding:15px;
  }
  

  .crop-card {
      border: 1px solid #ddd;
      margin: 10px;
      padding: 20px;
      text-align: center;
      cursor: pointer;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
    
      /* Gradient background for a more immersive look */
      background: linear-gradient(to bottom, #f8f8f8, #eaeaea);
      display: flex;
      flex-direction: column;
    }
    
    .crop-image {
      width: 100%;
      border-radius: 8px 8px 0 0; /* Rounded top corners */
      object-fit: cover; /* Maintain aspect ratio and cover the container */
    }
    
    .crop-details {
      padding: 16px;
    }
    
    .crop-name {
      font-size: 1.5em;
      color: #333;
      margin-bottom: 10px;
      
  
    /* Additional styles for content inside the card */
    h3 {
      font-size: 1.5em;
      color: #333;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 1.2em;
      color: #666;
    }
  }
  
  
  .crop-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add box shadow on hover */
    transform: scale(1.1); /* Scale the card on hover */

  }



