.navbar-nav{
	padding-left: 250px;
}
.nav-item{
	padding-left:50px;

}
.navbar-brand{
	padding-left: 20px;
}
.row{
    padding:50px;
}
.card{
    border-width: 1px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


/* Add this CSS to push down the content below the fixed navbar */
.content {
    margin-top: 80px; /* Adjust the value as needed to create spacing between the navbar and content */
}


   
.linebreak{
    margin-top: 0;
    width:100%;
    padding-bottom: 25px;
}

.card-container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.row{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 50px;
    /* padding-right: 50px;
    padding-left: 50px; */
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Additional horizontal centering for text */
  }
.card{
    
    min-width:300px;
    min-height: 250px;
}  
.stylish-text {
    font-weight: bold;
    font-family: 'Your Stylish Font', sans-serif; /* Replace 'Your Stylish Font' with the desired font family */
    font-size: 24px; /* Adjust the font size as needed */
    color: #090909; /* Change the text color to your preference */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Apply a text shadow for a stylish effect */
    /* Additional styling properties can be added as needed */
  }

  .heading1{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }