<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">AgriSage</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav ml-auto"> <!-- Add ml-auto class here -->
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#" routerLink="['/statistics']">Statistics</a>
		  </li><li class="nav-item">
			<a class="nav-link" href="#">Crop Invoice</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Manage Users</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Upload</a>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person"></i>
			  Profile
			</a>
			<ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="#">Action</a></li>
			  <li><a class="dropdown-item" href="#">Another action</a></li>
			  <li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>

<hr class="linebreak">

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">No. Of Crops Arrived Today</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">No. Of Crops Sold Today</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">No. Of Crops Arrived Yesterday</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">No. Of Crops Sold Yesterday</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>

