<hr class="linebreak">

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title stylish-text">No. Of Crops Arrived Today</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
          <!-- <div class="col-sm-6">
            <div class="card"> -->
            <div class="card-body">
              <div class="skill">
                <div class="outer">
                  <div class="inner">
                    <div id="number1">
                      47
                    </div>
                  </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                  <defs>
                    <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                    </linearGradient>
                  </defs>
                  <circle cx="80" cy="80" r="70" stroke-linecap="round"/>
                </svg>
              </div>
              <script>
                let number1=document.getElementById("number1");
                let counter1=0;
                setInterval(()=>{
                  if (counter1==47){
                    clearInterval();
                  }
                  else{
                    counter1+=1;
                    number1.innerHTML=counter1+"%";
                  }
                  
                }, 20);
              </script>
            </div>
            <!-- <h3>No.of Vegs Sold Yesterday</h3> -->
            <h5 class="card-title stylish-text">No. Of Crops Arrived Today</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          </div>
          </div>
        </div>
      <!-- </div>
    </div> -->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="card-body">
            <div class="skill">
              <div class="outer">
                <div class="inner">
                  <div id="number1">
                    40
                  </div>
                </div>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                  <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#e91e63" />
                    <stop offset="100%" stop-color="#673ab7" />
                  </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round"/>
              </svg>
            </div>
            <script>
              let number2=document.getElementById("number2");
              let counter2=0;
              setInterval(()=>{
                if (counter1==65){
                  clearInterval();
                }
                else{
                  counter2+=1;
                  number2.innerHTML=counter2+"%";
                }
                
              }, 30);
            </script>
          </div>
          <h5 class="card-title stylish-text">No. Of Crops Sold Today</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
           <div class="card-body">
              <div class="skill">
                <div class="outer">
                  <div class="inner">
                    <div id="number1">
                      42
                    </div>
                  </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                  <defs>
                    <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                    </linearGradient>
                  </defs>
                  <circle cx="80" cy="80" r="70" stroke-linecap="round"/>
                </svg>
              </div>
              <script>
                let number11=document.getElementById("number11");
                let counter11=0;
                setInterval(()=>{
                  if (counter11==65){
                    clearInterval();
                  }
                  else{
                    counter11+=1;
                    number11.innerHTML=counter11+"%";
                  }
                  
                }, 30);
              </script>
            </div>
          <h5 class="card-title stylish-text">No. Of Crops Arrived Yesterday</h5>
         
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="card-body">
            <div class="skill">
              <div class="outer">
                <div class="inner">
                  <div id="number11">
                    36
                  </div>
                </div>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                  <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#e91e63" />
                    <stop offset="100%" stop-color="#673ab7" />
                  </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round"/>
              </svg>
            </div>
            <script>
              let number12=document.getElementById("number12");
              let counter12=0;
              setInterval(()=>{
                if (counter1==65){
                  clearInterval();
                }
                else{
                  counter12+=1;
                  number12.innerHTML=counter12+"%";
                }
                
              }, 30);
            </script>
          </div>
          <h5 class="card-title stylish-text">No. Of Crops Sold Yesterday</h5>
         
        </div>
      </div>
    </div>
  </div>

  <!--Graph1-->
  <hr class="linebreak">
  <div class="heading1">
  <h1 class="card-title stylish-text">Heading 1</h1>
</div>
  <div class="row">
    <div class="col-sm-6">
        <div class="card-graph1">
          <div class="chartjs-wrapper-demo">
            <apx-chart [series]="RandomData.series"  [colors]="RandomData.colors" [chart]="RandomData.chart" [annotations]="RandomData.annotations" [dataLabels]="RandomData.dataLabels" [markers]="RandomData.markers" [xaxis]="RandomData.xaxis"
            [tooltip]="RandomData.tooltip" [fill]="RandomData.fill">
            </apx-chart>
          </div>
          
        </div>
      
    </div>
    <div class="col-sm-6">
      <div class="card" style="border-width: 0cap;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          
        </div>
      </div>
    </div>
  </div>

  <!--Graph2-->


  <hr class="linebreak">
  <div class="heading1">
  <h1 class="card-title stylish-text">Heading 2</h1>
</div>
  <div class="row">
    <div class="col-sm-6">
        <div class="card-graph1">
          <div class="chartjs-wrapper-demo">
            <apx-chart [series]="RandomData.series"  
            [colors]="RandomData.colors" [chart]="RandomData.chart" 
            [annotations]="RandomData.annotations" 
            [dataLabels]="RandomData.dataLabels" 
            [markers]="RandomData.markers" [xaxis]="RandomData.xaxis"
            [tooltip]="RandomData.tooltip" [fill]="RandomData.fill">
            </apx-chart>
          </div>
          
        </div>
      
    </div>
    <div class="col-sm-6">
      <div class="card" style="border-width: 0cap;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>


 
