<div class="card-container">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">AgriSage</h5>
        <p class="card-text">AgriSage is your trusted companion on the journey to sustainable and profitable agriculture. We provide cutting-edge solutions that harness the power of data, technology, and collective wisdom to transform traditional farming practices.</p>
        <div class="loginsignupbutton">
          <button class="btn btn-primary" [routerLink]="['/loginforpage']">Login</button>
          <button class="btn btn-secondary" [routerLink]="['/adminmain']">Sign Up</button>

      </div>
      </div>
    </div>
  </div>
  