<div class="container d-flex justify-content-center align-items-center vh-100">
<div class="card">
<div class="row row-cols-1 row-cols-md-3 g-4">
   
    <div class="col">
      <div class="card1">
        <img src="https://i.pinimg.com/736x/d1/42/d8/d142d8b7a2e493ab8e6523ec42a5c420.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-center align-items-center">Login as Farmer</h5>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" routerLink="/loginasfarmer" type="button">Login</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card2">
        <img src="https://lumina-wordpress-prod.s3.ap-southeast-1.amazonaws.com/2023/02/Admin-Marketing-scaled.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-center align-items-center">Login as Admin</h5>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" routerLink="['/loginasadmin']" type="button">Login</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card3">
        <img src="https://img.freepik.com/premium-photo/3d-illustration-different-farms-isolated-round-4-piece-landscape-farm-agriculture_741212-23.jpg?size=626&ext=jpg&ga=GA1.1.1253924849.1695738821&semt=ais" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-center align-items-center">Login as User</h5>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" [routerLink]="['/loginasuser']" type="button">Login</button>
          </div>
        </div>
      </div>
    </div>
    </div>
 </div>
 </div>