<div class="wrapper" style="color:aqua">
<div class="container main" style=" color:rgb(219, 144, 33)">
    <div class="row">
      <div class="col-md-6 side-image">
        
      </div>
      
      <div class="col-md-6 right">
        <div class="input-box">
          <header>Login to your account</header>
          <div class="input-field">
            <input type="text" class="input" id="email" required="" autocomplete="off">
            <label for="email">Email</label> 
          </div> 
          <div class="input-field">
            <input type="password" class="input" id="pass" required="">
            <label for="pass">Password</label>
          </div> 
          <div class="input-field">
            <input type="submit" class="submit" value="Login">
          </div> 
          <div class="Login">
            <span>I don't have an account   <a href="#" [routerLink]="['/signuppage']">Sign Up here</a></span>

          </div>
        </div>  
      </div>
    </div>
  </div>
  </div>
